@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Nunito|Quicksand&display=swap');


html {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: rgb(145, 145, 145);
    margin: 0;
}
main {
    width: 100%;
}
/*temporary styles start*/
header {
    
    background-position: center;
    background-size: cover;
    background-image: url('http://placehold.it/300&text=banner1');
    background-repeat: no-repeat;  
    height: 900px;
    min-width: 360px;
    width: 100%;
}

.searching-box {
    background-color: rgba(0, 0, 0, 0.568);
    border: 3px solid rgba(0, 0, 0, 0.753);

    width: 30%;
    position: relative;
    display: block;
    top: 22vh;
    margin: 0 auto;
    min-width: 340px;
    padding: 20px 1%;
    box-shadow: 0px 0px 20px black;
}

.searching-logo {
    background-image: url("../img/sunny-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.searching-field {
    max-width: 30vw;
    text-align: center;
}

.searching-text h2 {
    font-size: 50px;
    margin: 0;
    text-align: center;
    color: white;
    top: 50%;
    display: block;
    font-family: 'Handlee';
}

.searching-text h5 {
    font-size: 17px;
    margin: 0;
    text-align: center;
    color: white;
    top: 50%;
    display: block;
}
.searching-text{
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
}

.search-form {
    position: relative;
    min-width: 290px;
    display: grid;
    padding: 0;
    margin-right: 10px;
    grid-template-areas: " . . . . . . "
        ". search-bar search-bar search-bar search-bar ."
        " . . . . . . "
        ". sugestedList sugestedList sugestedList sugestedList ."
        ". . find-me search . .";
    grid-template-columns: repeat(1fr, 6);
    grid-template-rows: 15px 35px 1fr 10px 55px;
    grid-row-gap: 5px;
}

.search-form button {
    max-width: 10vw;
    display: inline-block;
    min-width: 84px;
    margin: 10px 3px;
}

.sugestedList {
    list-style-type: none;
    background-color: white;
    border: 1px solid white;
    padding: 0;
    margin: -10px -4px 0px 0px;
    overflow: scroll;
    overflow-x: hidden;
    grid-area: sugestedList;
    max-height: 300px;
    min-width: 250px;
    visibility: hidden;
}

#find-me {
    grid-area: find-me;
}

#search-bar {
    height: 15px;
    width: 93%;
    min-width: 285px;    
}

#search-bar::placeholder {
    color: rgba(250, 250, 250, 0.705);
}

.input-field {
    grid-area: search-bar;
    height: 100px;
}

#search {
    grid-area: search
}

li {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    border: rgba(71, 71, 71, 0.384) 1px solid;
    background-color: white;
}

.name {
    display: block;
    padding: 5px;
    margin: 0;
}

.name:hover, .name:active {
    background-color: #2196f3;
}

/* navbar */
nav {
    background-color: rgba(0, 0, 0, 0.842);
    border-bottom: 4px solid rgba(0, 0, 0, 0.527);
    box-shadow: 0px 5px 20px black;
    width: 100%;
    min-width: 360px;
    height: 60px;
    position: absolute;
}

nav h3 {
    color: #fff;
    font-size: 40px;
    margin: 5px 25px 5px 0px;
    float: right;
    right: 15px;
    font-family: 'Handlee';
}

nav img {
    height: 50px;
    margin: 5px 0 5px 20px;
}




/*  custom checkbox */
.container-checkbox input {
    margin: 0;
    position: inherit;
    top: 0;
    right: 10%;
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 30px;
    right: 0;
    height: 25px;
    width: 25px;
    float: right;
    background-color: rgba(238, 238, 238, 0.185);
    border: rgba(207, 207, 207, 0.479) solid 2px;
    border-radius: 50%;

}

.container-checkbox:hover input~.checkmark {
    background-color: #ccc;
    transition: .5s;
}

.container-checkbox input:checked~.checkmark {
    background-color: #2196F3;
    transition: .5s;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked~.checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    right: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* button and input */
button {
    display: inline-block;
    border: none;
    text-decoration: none;
    background: #777777;
    color: #ffffff;
    
    font-family: sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.438);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.692);
    font-family: 'Nunito', sans-serif;
}

button:hover,
button:active {
    background: #2196F3;
}
button:active {
    transform: scale(0.96);
    border: 1px solid #fff;
    box-sizing: border-box;
}
button:focus{
    border: none;
    outline: none;
}

#search-bar {
    /* border: 1px solid rgb(0, 0, 0); */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.603);
    padding: 15px;
    background: rgba(255, 255, 255, 0.103);
    margin: 0 1% 10px 1%;
    color: #fff;
    font-size: 18px;
    border: 2px solid rgba(255, 255, 255, 0.158);
    font-family: 'Nunito', sans-serif;
    position: relative;
}

#search-bar:focus {
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.486);
    outline: none;
    transition: .5s;
}

/* tooltip */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    bottom: 15px;
    background-color: rgba(0, 0, 0, 0.575);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    font-size: 16px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
  }
#main-icon{
    width: 65px;
    height: 65px;
}
.forecast-item > img{
    width: 65px;
    height: 65px;
}









/* body */
.weatherfor {
    text-align: center;
    width: auto;
    margin: auto;
    display: inline-block;
}

.weatherfor h2 {
    border-bottom: 5px dotted white;
    font-size: 40px;
    min-width: 360px;
    margin: 30px 0px;
}
.weather h3{
    margin-top: 0;
}

.actual-weather,
.today-weather-hourly,
.weather-forecast {
    border: 1px solid black;
    /* width: 80vw; */
    margin: 35px auto;
}

.container {
    width: 100%;
    min-width: 360px;
    display: grid;
    grid-template-columns: 10% repeat(3, 1fr) 10%;
    text-align: center;
    grid-template-areas: '. weather-header weather-header weather-header .'
        '. weather-data weather-data weather-data .'
}
.container img {
    width: 40px;
    height: 40px;
}
.container section {
    display: grid;
    border: 3px solid black;
    border-radius: 5px;
    margin: 25px 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.container .weatherfor {
    grid-area: weather-header;
}

.container .weather {
    grid-area: weather-data;
}

.unit-type {
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
}

.unit-type.active {
    font-weight: 600;
    font-size: 26px;
}

.current-weather {
    grid-template-areas: 'temp info';
    padding: 0 !important;
    background-size: cover;
    background-position: 0 90%;
    position: relative;
}

.current-weather span {
    font-weight: 600;
}
.current-weather .today-weather {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.644);
    min-width: 157px;
}
.current-weather-info {
    background-color: rgba(0, 0, 0, 0.281);
    color: #fff;
    padding: 32px 0;
    width: 90%;
    height: 282px;
    max-width: 270px;
    min-width: 197px;
    right: 0;
    float: right;
    position: absolute;
}

.current-weather .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .weather .today-weather {
    grid-area: temp;
    align-self: center;
}

.container .weather .today-weather .temp {
    font-size: 2.4rem;
}

.icon-img,
.temp {
    display: inline-block;
}

.container .today-weather .temp sup {
    font-size: 1.2rem;
}

.current-weather-info {
    grid-area: info;
}

.weather-forecast {
    grid-auto-flow: row;
}

.today-weather-hourly .hourly-data,
.today-weather-hourly .buttons {
    display: grid;
    grid-auto-flow: column;
}
.today-weather-hourly {
    /* height: 450px; */
    margin: 20px;
    padding: 0 !important;
}

.today-weather-hourly .buttons {
    justify-content: space-around;
    margin-top: 15px;
}

.today-weather-hourly .btn {
    border: 1px solid #000;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 16px;
    height: auto;
    width: 100px;
    transition: .5s;
}

.today-weather-hourly .btn.active {
    background-color: #2196F3;
    color: #fff;
}
.today-weather-hourly .graph {
    height: 250px;
    border: 1px solid red;
    padding-top: 20px;
}

.day-night-temp p {
    display: inline-block;
    font-weight: 600;
}
.hourly-data{
    font-size: 0.6rem;
    grid-template-columns: repeat(8, 1fr);
}
.hourly-data .item {
    padding: 10px 0;
    border-top: 1px solid rgb(146, 146, 146);
}
.hourly-data .item:hover {
    background-color: #a8a8a8;
}

p.night-temp {
    font-size: 0.8rem;
    font-weight: 500;
}
.forecast-item {
    border: 1px solid rgba(0, 0, 0, 0.596);
    background-color: #2196f3;
    width: 100%;
    min-width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 0 90%;
    box-sizing: border-box;
}
.forecast-field {
    width: 20%;
    height: 100%;
    padding: 20px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.507);
}
.graph {
    width: 100%;
}
body  {
    background-color: #fff;
}

@media (max-width: 400px) {
    .searching-box {
        top: 150px;
    }
    .checkmark {
        right: -25px;
    }
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'weather-header weather-header weather-header'
            'weather-data weather-data weather-data'
    }
}

@media (min-width: 401px) and (max-width: 800px) {
    .searching-box {
        top: 250px;
    }
    .checkmark {
        right: -25px;
    }
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'weather-header weather-header weather-header'
            'weather-data weather-data weather-data'
    }
}


@media (min-width: 801px) and (max-width: 1000px) {

    .checkmark {
        right: -25px;
    }
}

@media (min-width: 1001px)  {

    .checkmark {
        right: 25px;
    }
}
/* @media (max-width: 600px) {
} */